<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <TargetFramework>net10.0</TargetFramework>
    <PublishDir>C:\Users\cyrus\GoogleDrive\My Drive\Projects\Fabrica\Published\</PublishDir>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <SelfContained>true</SelfContained>
    <UseAppHost>false</UseAppHost>
    <BaseIntermediateOutputPath>C:\Temp\Fabrica\Publish\Simulation\obj\</BaseIntermediateOutputPath>
    <BaseOutputPath>C:\Temp\Fabrica\Publish\Simulation\bin\</BaseOutputPath>
    <MSBuildProjectExtensionsPath>C:\Temp\Fabrica\Publish\Simulation\obj\</MSBuildProjectExtensionsPath>
    <Platform>Any CPU</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
  </PropertyGroup>
</Project>